# Creating & Reading & Writing Data
## Creating Data

&emsp;&emsp; A simple numeric DataFrameï¼š

In [18]:
import pandas as pd
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

    No  Yes
0  131   50
1    2   21

&emsp;&emsp; A string DataFrame:

In [19]:
pd.DataFrame({'Bob':['I like it,', 'It was awful.'], 'Sue':['Pretty good.', 'Bland']})

             Bob           Sue
0     I like it,  Pretty good.
1  It was awful.         Bland

In [20]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [21]:
pd.DataFrame({'Bob':['I like it', 'It was awful.'],
              'Sue':['Pretty good.', 'Bland.']},
              index=['Product A', 'Product B'])

                     Bob           Sue
Product A      I like it  Pretty good.
Product B  It was awful.        Bland.

### 1.2 Series
&emsp;&emsp;A simple Series:

In [22]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [23]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64