# Creating & Reading & Writing Data
## Creating Data

&emsp;&emsp; A simple numeric DataFrame：

In [ ]:
import pandas as pd
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

&emsp;&emsp; A string DataFrame:

In [ ]:
pd.DataFrame({'Bob':['I like it,', 'It was awful.'], 'Sue':['Pretty good.', 'Bland']})

In [ ]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

In [ ]:
pd.DataFrame({'Bob':['I like it', 'It was awful.'],
              'Sue':['Pretty good.', 'Bland.']},
              index=['Product A', 'Product B'])

### 1.2 Series
&emsp;&emsp;A simple Series:

In [ ]:
pd.Series([1, 2, 3, 4, 5])

In [ ]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

### 2.1 Reading Data From CSV
&emsp;&emsp;csv文件全名为"omma-seperated values"。使用pandas中的read_csv方法将数据从文件中读到DataFrame。

In [ ]:
data_path = "/Users/ingrid/RelatedToSchoolWork/Data/house_prices/train.csv"
wine_reviews = pd.read_csv(data_path)

In [ ]:
wine_reviews.shape

&emsp;&emsp;可以使用head(n)得到DataFrame数据的前n行：

In [ ]:
n = 5
wine_reviews.head(n)

&emsp;&emsp;读取csv文件时，默认不读取内置的index，可设定index_col=0使文件获取内置的index。

In [ ]:
wine_reviews = pd.read_csv(data_path)
wine_reviews.head()

&emsp;&emsp;读取excel，使用sheet_name属性设定具体的表名。

In [ ]:
wic = pd.read_excel(data_path, 
                    sheet_name='Total Women')
wic.head()

### 2.3 Reading Data From SQL

&emsp;&emsp;读取SQL中的数据，需要先连接sql数据库。需要先创建一个connector。

In [ ]:
import sqlite3
# sqlite3 ：the only kind supported on Kaggle
conn = sqlite3.connect("../input/188-million-us-wildfires/FPA_FOD_20170508.sqlite")

In [ ]:
fires = pd.read_sql_query("SELECT * FROM fires", conn)
fires.head()

In [ ]:
wine_reviews.head().to_csv("wine_reviews.csv")

### 2.2 Writing Data to Excel

&emsp;&emsp;使用DataFrame中的to_excel()方法，需设定sheet_name，将数据写入csv文件：

In [ ]:
wic.to_excel('wic.xlsx', sheet_name='Total Women')

### 2.3 Writing Data to SQL

In [ ]:
conn = sqlite3.connect("fires.sqlite")
fires.head(10).to_sql("fires", conn)